@import "tailwindcss";

:root {
  font-family: 'Outfit', sans-serif;
}

body {
  font-family: 'Outfit', sans-serif;
}

/* Custom Animations */
.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}